body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
    background-color: #2196F3
}

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.card-img {
    width: 350px
}

.star {
    color: red
}

.bg-cart {
    background-color: orange;
    color: #fff
}

.bg-cart:hover {
    color: #fff
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}

.bg-buy:hover {
    color: #fff
}

a {
    text-decoration: none !important
}
html
{
    color: black;
    
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1,h2,h3,h4,h5,h6
{
    color: black;
}
#headerP
{
  background: url("/assets/pexels-melissa-698907.jpg") coral;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: cornsilk;
  font-size: 90px;
  width: 100%;
  height: 200px;
  text-align:center;
  padding-top: 50px;
}
@media only screen and (max-width: 400px){
  #headerP
  {
    font-size: 60px;
  }
}


#caption3 h2
{
    color: rgb(15, 15, 15);
    font-size: 40px;
    text-align: start;
    background-size: cover;
}
#caption2 h2
{
    color: rgb(206, 252, 249);
    font-size: 40px;
    text-align: left;
    background-size: cover;
}
#caption3 p
{
    color: rgb(0, 0, 0);
}
#info p
{
    color: rgb(0, 0, 0);
}
.carousel img
{
    
    width:100%;
    background-size: cover;
    height: 50%;
    max-height: 400px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.carousel 
{
    
    margin: 1em auto;
    position: relative;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
#feature
{
    background-color: rgb(158, 155, 209);
    padding: 5px 2px 2px 0px;
    
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .serviceBox{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}
.serviceBox .service-icon{
    color: #fff;
    background: linear-gradient(to right bottom, #ff00cc 35%, #333399 65%);
    font-size: 45px;
    line-height: 80px;
    height: 95px;
    width: 95px;
    margin: 0 auto 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05) inset, 0 0 5px rgba(0, 0, 0, 0.1);
    border: 10px solid #f9f9f9;
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent; 
    -webkit-text-fill-color: transparent; 
}
.serviceBox .title{
    color: rgb(73, 72, 72);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 8px;
}
.serviceBox .description{
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 22px;
    margin: 0 15px;
}
.serviceBox.green .service-icon{
    background: linear-gradient(to right bottom, #38ef7d 35%, #11998e 65%);
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
}
.serviceBox.blue .service-icon{
    background: linear-gradient(to right bottom, #91EAE4 35%, #86A8E7 65%);
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
}
.serviceBox.orange .service-icon{
    background: linear-gradient(to right bottom, #ffae00 35%, #f83600 65%);
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 990px){
    .serviceBox{ margin: 0 0 30px; }
}
  .footer-clean {
    padding:50px 0;
    background-color:rgb(94, 94, 94);
    color:#f9fbfc;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    color: ghostwhite;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
    color: cyan;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  
@media screen and (max-width: 600px) {
    #feature {
      width: 100%;
    }
  }
  