html
{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1,h2,h3,h4,h5,h6
{
    color: black;
}
.start{
    
  width: 100vw;
  height: 100vh;
}
#btn{
  border: brown;
  /* border: solid 3px; */
  /* width: fit-content; */
  text-align: center;
}
#btn a{
  font-size:xx-large;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 7px;
  color: rgb(56, 0, 0);
  font-weight: bolder;
  background-color: #ccc;
}
#btn a:hover{
  color: rgb(211, 37, 110) !important;
  padding-top: 1px;
  transition: 250ms;
}
.tag h1
    {
        font-size: 500%;
        font-style: bold;
        padding-top: 300px;
          padding-bottom: 10px;
          text-align: center;
          color: rgba(255, 255, 255, 0.888);
      }
      .tag h2
{
    text-align: center;
    font-size:200%;
    font-style: normal;
    font-weight: 50rem;  
    color: #ffcbdb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    padding-top:50px ;
}
.tag p
    {
        margin: 18px 0px;
        color: cornsilk;
        text-align: center;
    }
.start img{
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  position: fixed;
  object-position: left;
}
.start nav{
  z-index: 1;
  padding: 10px 15px;
  position: fixed;
  width: -webkit-fill-available;
}
nav .navbar-brand{
  font-size: 1.6rem;
  color: white !important;
}
.navbar .nav-link{
  font-size: 1rem;
  color: white !important;
  /* margin-left: 1vw; */
  margin-left: 15px;
  margin-top: 2px;
  transition: padding-top 250ms, color 250ms;
}

.navbar .nav-link:hover{
  color: rgb(55, 157, 241) !important;
  padding-top: 1px;
  transition: 250ms;
}
.navbar-nav ul{
  background-color: rgba(0, 0, 0, 0.384);
  z-index: 2;
  /* border:solid 1px rgb(0, 0, 0); */
}
.navbar-nav ul .dropdown-item{
  color: white;
  z-index: 2;
}
.navbar-nav ul .dropdown-item:hover{
  color: black;
  background-color: rgb(55, 157, 241);
  z-index: 2;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}
.start .head{
  /* height: 90%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 100%;
}

#caption3 h2
{
    color: rgb(15, 15, 15);
    font-size: 40px;
    text-align: start;
    background-size: cover;
}
#caption2 h2
{
    color: rgb(206, 252, 249);
    font-size: 40px;
    text-align: left;
    background-size: cover;
}
#caption3 p
{
    color: rgb(0, 0, 0);
}
#info p
{
    color: rgb(0, 0, 0);
}
.carousel img
{
    
    width:100%;
    background-size: cover;
    height: 50%;
    max-height: 400px;
}
#Checkout
{
  background-color: #554288ce;
  display:block;
  
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.carousel 
{
    
    margin: 1em auto;
    position: relative;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
#feature
{
    background-color: rgba(124, 50, 54, 0.856);
    padding: 5px 2px 2px 0px;
    
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .serviceBox{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}
.serviceBox .service-icon{
    color: #fff;
    background: linear-gradient(to right bottom, #ffddf9 35%, #ff8383 65%);
    font-size: 45px;
    line-height: 80px;
    height: 95px;
    width: 95px;
    margin: 0 auto 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05) inset, 0 0 5px rgba(0, 0, 0, 0.1);
    border: 10px solid #f9f9f9;
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent; 
    -webkit-text-fill-color: transparent; 
}
.serviceBox .title{
    color: rgb(73, 72, 72);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 8px;
}
.serviceBox .description{
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 22px;
    margin: 0 15px;
}
.serviceBox.green .service-icon{
    background: linear-gradient(to right bottom, #38ef7d 35%, #11998e 65%);
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
}
.serviceBox.blue .service-icon{
    background: linear-gradient(to right bottom, #91EAE4 35%, #86A8E7 65%);
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
}
.serviceBox.orange .service-icon{
    background: linear-gradient(to right bottom, #ffae00 35%, #f83600 65%);
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 990px){
    .serviceBox{ margin: 0 0 30px; }
}
  .footer-clean {
    padding:50px 0;
    background-color:rgba(255, 168, 168, 0.897);
    color:#f9fbfc;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    color: ghostwhite;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
    color: cyan;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  
@media screen and (max-width: 600px) {
    #feature {
      width: 100%;
    }
  }
  
